:root {
	/* ## Colors */

	/* ### Primary */

	--Soft-orange: hsl(35, 77%, 62%);
	--Soft-red: hsl(5, 85%, 63%);

	/* ### Neutral */

	--Off-white: hsl(36, 100%, 99%);
	--Grayish-blue: hsl(233, 8%, 79%);
	--Dark-grayish-blue: hsl(236, 13%, 42%);
	--Very-dark-blue: hsl(240, 100%, 5%);

	/* ## Typography */

	/* ### Body Copy */

	--Font-size-paragraph: 1.2rem;
	--Font-size-paragraph-desktop: 1.8rem;

	/* ### Font */

	/* - Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", Times, serif;
	max-height: 100vh;
}

/* MOBILE VIEW */
nav {
	max-height: 10vh;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	max-width: 5rem;
}
.side-nav a,
nav a {
	color: var(--Very-dark-blue);
	text-decoration: none;
	font-size: 1.5rem;
	margin: 0.8rem;
}
.side-nav a:hover,
nav a:hover {
	color: var(--Soft-red);
}
.menu-list {
	display: none;
}
.side-nav {
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	width: 70vw;
	background-color: var(--Off-white);
	padding: 2rem;
	height: 100vh;
	transition: 0.2s ease-in-out;
}
.side-nav > a {
	position: absolute;
	right: 5px;
	top: 5px;
}
.closeBtn {
	max-width: 3rem;
	max-height: 3rem;
}
.side-nav div > a {
	width: 100%;
}

.side-nav div {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding: 1rem;
}
.container {
	padding: 2rem;
}

.hero-img {
	background: url(./assets/images/image-web-3-mobile.jpg);
	background-size: cover;
	min-height: 40vh;
}

.hero-text {
	display: block;
	min-height: 40vh;
	margin-bottom: 5rem;
}
.hero-text div {
	display: flex;
	flex-direction: column;
	place-items: start;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

h1 {
	font-size: 2.8rem;
	margin: 0.75rem;
	color: var(--Very-dark-blue);
}
h2 {
	font-size: 2.5rem;
	font-weight: 600;
}
h3 {
	font-size: 2rem;
	font-weight: 600;
	margin: 1rem 0;
}
h4 {
	color: var(--Very-dark-blue);
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1rem 0;
}
p {
	font-size: var(--Font-size-paragraph);
	font-weight: 400;
	color: var(--Dark-grayish-blue);
	line-height: 2rem;
}
button {
	color: var(--Off-white);
	font-size: 1rem;
	background-color: var(--Soft-red);
	border: none;
	padding: 1rem 3.5rem;
	margin: 3rem 0 1.8rem 0;
	cursor: pointer;
	letter-spacing: 5px;
}

button:hover {
	background-color: var(--Very-dark-blue);
}

.sectionB {
	background-color: var(--Very-dark-blue);
	padding: 2rem;
	max-height: 54rem;
}
.sectionB div {
	padding: 2rem 0;
}
.sectionB div:nth-child(3) {
	border-top: 1px solid var(--Off-white);
	border-bottom: 1px solid var(--Off-white);
}
.sectionB h2 {
	color: var(--Soft-orange);
}
.sectionB h3 {
	color: var(--Off-white);
	cursor: pointer;
}
.sectionB h3:hover {
	color: var(--Soft-orange);
}

.sectionC {
	margin-top: rem;
	max-height: 1git 0rem;
}

.topic {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-radius: 20px;
	margin-top: 2rem;
	min-height: 70px;
}
.topic div {
	margin: 0.5rem;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	place-content: center;
}
.topic h3 {
	color: var(--Grayish-blue);
}

/* DESKTOP VIEW */
@media (min-width: 60rem) {
	.menu-list {
		display: inline-block;
	}
	.icon-menu {
		display: none;
	}

	.hero-img {
		background: url(./assets/images/image-web-3-desktop.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.header {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
		gap: 2rem;
		/* max-height: 60vh; */
	}

	.sectionA {
		display: grid;
		grid-template-rows: 3fr 2fr;
		gap: 1rem;
	}

	/* .sectionA div {
		background-color: #333;
	} */

	.hero-text {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
	h1 {
		font-size: 4rem;
	}

	.sectionB {
		display: grid;
		grid-template-columns: 1fr;
	}

	.sectionB div {
		padding: 1rem;
	}

	.sectionC {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin-bottom: 2rem;
	}
}
